html, body{
	height: 100%;
	width: 100%;
}

.cabecalho {
    display: flex;
    flex-direction: row;
	justify-content: space-around;
	height: 8%;
}

main{
	height: 85%;
	width: 100%;
}

.tabela{
	width: 100%;
}

footer{
	height: 7%;
}