html, body{
	height: 100%;
	width: 100%;
}

.cabecalho {
	background: #D5CEA3;
    display: flex;
    flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 8%;
}

main {
	height: 85%;
	width: 100%;
	background: #1A120B;
}

.tabela {
	width: 100%;
}
.tabela__titulo {
	font-size: 1.5rem;
	color: #D5CEA3;
	padding: 1%;
}
.tabela__elemento {
	padding: 0.5rem 1rem;
	text-align: center;
}

footer {
	height: 7%;
	background: #E5E5CB;
}